<% provide(:title, 'Over Ons')%>
<h1>Over Ons</h1>
<p>
  De catering bedrijf van <font color='blue'>Dena Panahi</font> is 
  opgericht in 2008. Het doel van  bedrijf gezonde eten promoten.
</p>
<p>
<img src="/home/nader/rails/dena_panahi/1.23.jpg" alt="In de keuken">
</p>
