<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  De catering bedrijf van <font color='blue'>Dena Panahi</font> is 
  opgericht in 2008. Het doel van  bedrijf het promoten van goezonde eten.
</p>
<p>
<%= link_to image_tag("gezond.jpe", alt: "In de keuken") %>
