<div class="center hero-unit">
  <h1>Home</h1>
   <h5>
    <font color="green" size=2>Welkom op de site van Panahi Food Concepts. Het team van Panahi Food Concepts staat voor u klaar om gezonde, betaalbare en lekkere voedingsconcepten op te zetten en op uw locatie te realiseren. Panahi Food Concepts (PFC) werkt samen met scholen om de gezonde groene schoolkantine op scholen in praktijk neer te zetten. Panahi Food Concepts heeft twee concepten ontwikkeld, 1 voor de (brede) basisschool en 1 voor het voortgezet onderwijs, om een structurele oplossing te kunnen bieden voor het nog onvoldoende erkende voedingsprobleem bij kinderen in de leeftijd van 2 tot 18 jaar. Verse, gevarieerde en betaalbare voeding eten staat centraal in beide concepten. Hiermee worden de zorgen van ouders, scholen en kinderen met betrekking tot voeding gedurende de schooldag weggenomen. Er wordt altijd naar een balans gezocht tussen gezonde en betaalbare ingredienten, als basis voor de warme maaltijden en andere producten.
   </font></h5>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("1-23.jpg", alt: "Mensa") %>

