<footer class="footer">
  <small>
    <!%= link_to "Home",   root_path %>
    <font color="blue" size=3>Ontwikkeld door Panahi (Rails)</font> 
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.smaaklessen.nl/nl/smaaklessen.htm">News</a></li>
    </ul>
  </nav>
</footer>

